body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.width-limiter{
  max-width: 800px;
  margin: 0 auto;
}

.contact{
  display:inline-block;
  width: 250px;
}

.contact-icon{
  display:inline-block;
  height:24px;

}

.skill-card{
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%
}

.contact-logo{
  display:inline-block;
  width: 24px;
  margin: 5px;
}
